<div class="create-deck-container">
  <h2>Crea un Nuovo Deck</h2>
  <form (ngSubmit)="createDeck()">
    <div class="form-group">
      <label for="name">Nome del Deck</label>
      <input type="text" id="name" [(ngModel)]="deck.name" name="name" required class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Descrizione</label>
      <textarea id="description" [(ngModel)]="deck.description" name="description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Crea Deck</button>
  </form>
</div>
