<div class="other-user-profile">
  <h1 *ngIf="!isLoading && !errorMessage" class="profile-title">{{ user?.username }}'s Profile</h1>

  <div *ngIf="isLoading" class="loading">
    <p>Caricamento del profilo in corso...</p>
  </div>

  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="user" class="profile-info">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Lingua Nativa:</strong> {{ user.nativeLanguage }}</p>
    <p><strong>Lingua Target:</strong> {{ user.targetLanguage }}</p>
    <p><strong>Registrato dal:</strong> {{ user.createdAt | date }}</p>

    <!-- Pulsante per inviare una richiesta di amicizia -->
    <div *ngIf="!isFriend && !isFriendRequestSent">
      <button class="btn btn-primary" (click)="sendFriendRequest()">Invia Richiesta di Amicizia</button>
    </div>
    <div *ngIf="isFriendRequestSent && !isFriend">
      <p>Richiesta di amicizia inviata!</p>
    </div>
    <div *ngIf="isFriend">
      <p>Sei già amico di questo utente.</p>
    </div>
  </div>
</div>
