<div *ngIf="flashcard">
  <h2>Modifica Flashcard</h2>
  <form (ngSubmit)="updateFlashcard()">
    <div>
      <label for="term">Termine:</label>
      <input id="term" [(ngModel)]="flashcard.term" name="term" required />
    </div>
    <div>
      <label for="definition">Definizione:</label>
      <textarea id="definition" [(ngModel)]="flashcard.definition" name="definition" required></textarea>
    </div>
    <div>
      <label for="difficultyLevel">Livello di Difficoltà:</label>
      <select id="difficultyLevel" [(ngModel)]="flashcard.difficultyLevel" name="difficultyLevel" required>
        <option [ngValue]="1">Facile</option>
        <option [ngValue]="2">Difficile</option>
        <option [ngValue]="3">Estremamente Difficile</option>
      </select>
    </div>
    <button type="submit">Salva</button>
    <button type="button" (click)="router.navigate(['/flashcard/detail', flashcard.cardId])">Annulla</button>
  </form>
</div>
