<div *ngIf="deck">
  <h2>{{ deck.name }}</h2>
  <p>{{ deck.description }}</p>

  <!-- Se non ci sono flashcard -->
  <div *ngIf="flashcards.length === 0">
    <p>Nessuna flashcard trovata.</p>
  </div>

  <!-- Lista delle flashcard -->
  <ul *ngIf="flashcards.length > 0">
    <li *ngFor="let flashcard of flashcards">
      <p>{{ flashcard.term }} - {{ flashcard.definition }}</p>
      <button (click)="deleteFlashcard(flashcard.cardId ?? 0)">Elimina</button>
      <button (click)="viewDetails(flashcard.cardId ?? 0)">Vedi Dettagli</button>
      <!-- Aggiungi qui pulsanti per modificare o vedere i dettagli -->
    </li>
  </ul>

  <!-- Pulsanti -->
  <button (click)="addFlashcard()">Aggiungi Flashcard</button>
  <button (click)="studyFlashcards()" *ngIf="flashcards.length > 0">Studia</button>
</div>
